
.qr-box {
	float: right;
	text-align: right;
	transition: opacity 0.3s;
}

.qr-box--is-hidden {
	opacity: 0;
	pointer-events: none;
}

.qr-box img {
	float: right;
	display: block;
	width: 150px;
	height: auto;
}
