.content-width {
	margin: 0 auto;
	width: 90%;
	max-width: 70em;
}


.user-color {
	margin: 0 0 2em;
	height: 1em;
}



.control {
	display: inline-block;
	width: 100px;
	height: 100px;
}

.control--brake {
	background: #c00;
}

.control--gas {
	background: #0c0;
}